{% extends "layout.html" %} {% block page_title %} Visit the UK - Research and insight {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}



<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumbs.html" %}


  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Visit the UK
      </h1>

    </div>
  </div>

  <!-- Start of main console -->
  <div class="grid-row console">

    <div class="column-quarter">

      <ul class="contents">
        <li class="active">
          <a href="index.html">Overview</a>
        </li>
        <li class="substage"><a href="../Overview" class="subactive">Users</a></li>
        <li class="substage"><a href="../Overview/research-projects">Research Project</a></li>
        <li>
          <a href="/find-out">1. Find out</a>
        </li>
        <li>
          <a href="/choose">2. Choose</a>
        </li>
        <li>
          <a href="/apply">3. Apply</a>
        </li>
        <li>
          <a href="/decide">4. Decide</a>
        </li>
        <li>
          <a href="/fulfil">5. Fulfil</a>
        </li>
        <li>
          <a href="/comply">6. Comply</a>
        </li>
        <li>
          <a href="/enforce">7. Enforce</a>
        </li>
      </ul>

    </div>

    <div class="column-three-quarter">
      <h2 class="heading-large">Overview</h2>

      <h3 class="heading-medium">User demographics</h3>
      <h4 class="heading-small">Top 5 visitor nationalities, year ending September 2017</h4>
      <table>
  <thead>
    <tr>
      <th scope="col">Country</th>
      <th class="numeric" scope="col">Number of visitors</th>
      <th class="numeric" scope="col">% of total</th>
      <th class="numeric" scope="col">Change over last 12 months (%)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">China</th>
      <td class="numeric">543,000</td>
      <td class="numeric">26%</td>
      <td class="numeric">92,034(20)
        <span class="hod-arrow-up"></span>
      </td>
    </tr>
    <tr>
      <th scope="row">India</th>
      <td class="numeric">428,000</td>
      <td class="numeric">21%</td>
      <td class="numeric">42,123 (11)
        <span class="hod-arrow-up"></span>
      </td>
    </tr>
    <tr>
      <th scope="row">Russia</th>
      <td class="numeric">125,000</td>
      <td class="numeric">6%</td>
      <td class="numeric">24,036 (25)*
      <span class="hod-arrow-up"></span>
      </td>
    </tr>
    <tr>
      <th scope="row">Saudi Arabia</th>
      <td class="numeric">103,000</td>
      <td class="numeric">5%</td>
      <td class="numeric">11,343 (11)*
        <span class="hod-arrow-up"></span>
      </td>
    </tr>
    <tr>
      <th scope="row">Turkey</th>
      <td class="numeric">93,000</td>
      <td class="numeric">4%</td>
      <td class="numeric">-</td>
    </tr>
    <tr>
      <th scope="row">Other</th>
      <td class="numeric">783,000</td>
      <td class="numeric">38%</td>
      <td class="numeric">-</td>
    </tr>
  </tbody>
</table>
    <p>Source: Home Office, Immigration Statistics July to September 2017, Visas table vi 01 q (Visas volume 1) and Visas table vi 06 q o (Visas volume 3).</p>
    <p>*Source: Home Office, Immigration statistics April to June 2017, Visas table vi 06 q o (Visas volume 3). </p>

    <h4 class="heading-small">Duration of visit visas granted</h4>
    <table>
      <thead>
        <tr>
          <th scope="col">Validity length</th>
          <th class="numeric" scope="col">Number granted</th>
          <th class="numeric" scope="col">% of total</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">6 months</th>
          <td class="numeric">1,400,00</td>
          <td class="numeric">68%</td>
        </tr>
        <tr>
          <th scope="row">2, 5 or 10 years</th>
          <td class="numeric">600,000</td>
          <td class="numeric">32%</td>
        </tr>
    </table>
    <p>Source: Home Office, Immigration Statistics April to June 2017.</p>
    <h3 class="heading-medium">Digital inclusion</h3>

  <div class="grid-row">

  <div class="column-two-thirds">
    <h4 class="heading-small">Users</h4>
    <img src="/public/images/di-scale.png" style="width:100%"/>

    <h4 class="heading-small">Providers</h4>
    <img src="/public/images/di-scale.png" style="width:100%"/>

  </div>

  <div class="column-one-third">
    <h4 class="heading-small">Contributing projects</h4>
  </div>

  </div>
  <div class="grid-row">
    <div class="column-full">
      <h3 class="heading-medium">Personas</h3>
      <table>
      <thead>
        <tr>
          <th scope="col">Link</th>
          <th scope="col">Project</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th class="link" scope="col">example.file</th>
          <th>[Project name]</th>
        </tr>
      </tbody>
    </table>

    </div>
  </div>




</main>

{% endblock %}
