{% extends "layout.html" %} {% block page_title %} Visit the UK - Research and insight {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumbs.html" %}

<!--This where I enable javascript?-->
<body class="js-enabled">
  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Visit the UK
      </h1>

    </div>
  </div>

  <!-- Start of main console -->
  <div class="grid-row console">

    <div class="column-quarter">

      <ul class="contents">
        <li>
          <a href="../index.html">Overview</a>
        </li>
        <li>
          <a href="../find-out">1. Find out</a>
        </li>
        <li>
          <a href="../choose">2. Choose</a>
        </li>
        <li class="active">
          <a href="../apply">3. Apply</a>
        </li>
        <li class="substage"><a href="../apply" class="subactive">Submit application</a></li>
        <li class="substage"><a href="../apply/book-appointment">Book appointment</a></li>
        <li class="substage"><a href="../apply/pay-fees">Pay fees</a></li>
        <li class="substage"><a href="../apply/give-evidence">Give evidence and biometrics</a></li>
        <li class="substage"><a href="../apply/recieve-confirmation">Receive confirmation</a></li>
        <li>
          <a href="../decide">4. Decide</a>
        </li>
        <li>
          <a href="../fulfil">5. Fulfil</a>
        </li>
        <li>
          <a href="../comply">6. Comply</a>
        </li>
        <li>
          <a href="../enforce">7. Enforce</a>
        </li>
      </ul>

    </div>

    <div class="column-three-quarter left-border">

      <h2 class="heading-large">Apply</h2>


      <h3 class="heading-medium">User Needs</h3>

      <div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions">
        <div class="subsection-controls js-subsection-controls"></div>
        <div class="subsection-wrapper">
          <div class="js-subsection subsection">
            <div class="subsection__header">
              <h2 class="subsection__title" id="understanding-agile-project-management">
                <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0"</button>
              </h2>
              <p class="subsection__description">I need to know everything I am being asked for is important</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
              <ul class="subsection__list">
                <li class="subsection__list-item">Backup evidence 1</li>
                <li class="subsection__list-item">Backup evidence 2</li>
                <li class="subsection__list-item">Backup evidence 4</li>
                <li class="subsection__list-item">Backup evidence 5</li>
              </ul>
            </div>
          </div>
          <div class="subsection js-subsection">
            <div class="subsection__header">
              <h2 class="subsection__title" id="working-with-agile-methods">
                <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1"</button>
              </h2>
              <p class="subsection__description">I need to know exactly what information to provide</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
              <ul class="subsection__list">
                <li class="subsection__list-item">Backup evidence 1</li>
                <li class="subsection__list-item">Backup evidence 2</li>
                <li class="subsection__list-item">Backup evidence 4</li>
                <li class="subsection__list-item">Backup evidence 5</li>
              </ul>
            </div>
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="working-with-agile-methods">
                  <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1"</button>
                </h2>
                <p class="subsection__description">I need to know how much money each traveller should be described as having</p>
                <span class="subsection__icon"></span>
              </div>
              <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
                <ul class="subsection__list">
                  <li class="subsection__list-item">Backup evidence 1</li>
                  <li class="subsection__list-item">Backup evidence 2</li>
                  <li class="subsection__list-item">Backup evidence 4</li>
                  <li class="subsection__list-item">Backup evidence 5</li>
                </ul>
              </div>
            </div>
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="working-with-agile-methods">
                  <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1"</button>
                </h2>
                <p class="subsection__description">I need to know which information is most important to get correct</p>
                <span class="subsection__icon"></span>
              </div>
              <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
                <ul class="subsection__list">
                  <li class="subsection__list-item">Backup evidence 1</li>
                  <li class="subsection__list-item">Backup evidence 2</li>
                  <li class="subsection__list-item">Backup evidence 4</li>
                  <li class="subsection__list-item">Backup evidence 5</li>
                </ul>
              </div>
              <div class="subsection js-subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="working-with-agile-methods">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1"</button>
                  </h2>
                  <p class="subsection__description">I need to recieve feedback that the information I entered is in the right format</p>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
                  <ul class="subsection__list">
                  </p>

                  <p>
                    <span style="font-weight:700">So that</span> I do not worry that I made an avoidable error in my application
                  </p>
                  <h3 class="heading-medium">Evidence:</h3>
                  <p>
                    <strong class="phase-tag ur">User research</strong>
                  </p>


                  <h4 class="heading-small">UKVI services on GOV.UK</h4>
                  <p>
                    <span style="font-weight:700;">Researchers:</span> Clare Ridd and Joe Coker
                    <br>
                    <span style="font-weight:700;">Participants:</span> 12 interviews with visit visa holders
                    <br>
                    <span style="font-weight:700;">Date:</span> October 2017
                  </p>

                  <p>
                    <span style="font-weight:700;">Users gave a strong sense that they were not always clear exactly what was needed when a question was asked during the application:</span>
                  </p>

                  <p> “what information you exactly need to put in" [P10]</p>

                  <p> "So I think the only thing I’d like to think about is have a help sheet like that, like a, guidance sheet so you know when the person is filling, okay for this. What is the answer? How do you fill this? This is how you fill this.” [P7] </p>

                  <p> “I would still say a filled example form on the website” [P9] </p>

                  <p> “But the second time it’s easy, it was just not very difficult because I have example on it” [P2] </p>

                  <p> “To be more precise, they asked me for the CAS number, C-A-S. I never met before that kind of requirement. It is a number, practically, that the university must give, that number. It is some kind of number that proves that you are unconditionally accepted on your study course, but, unfortunately, they did not provide me with that CAS number. That CAS number is, practically, for the Tier 4 Visa, and not for short-term student visitor visa, but I realised that later. In the first moment, when I applied for the visa, when I started to fill out these online forms, “Do you have CAS number?” “Uh-oh!” I asked my friend what to do now. He said, “Tell him the truth. Do you have it? No, you don’t. Tell him the truth,” and I said, “Yes.</p>

                  <input class="button" type="submit" value="Transcripts">

                  </ul>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>



      <h3 class="heading-medium">Research Insights</h3>

      <div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions">
        <div class="subsection-controls js-subsection-controls"></div>
        <div class="subsection-wrapper">
          <div class="js-subsection subsection">
            <div class="subsection__header">
              <h2 class="subsection__title" id="understanding-agile-project-management">
                <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0">Insight 1:</button>
              </h2>
              <p class="subsection__description">Users became annoyed when they had to repeat all the same steps for each visa application to the UK. They were expecting the information they had entered previously to be saved and reused.</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
              <ul class="subsection__list">
                <li class="subsection__list-item">Backup evidence 1</li>
                <li class="subsection__list-item">Backup evidence 2</li>
                <li class="subsection__list-item">Backup evidence 4</li>
                <li class="subsection__list-item">Backup evidence 5</li>
              </ul>
            </div>
          </div>
          <div class="subsection js-subsection">
            <div class="subsection__header">
              <h2 class="subsection__title" id="working-with-agile-methods">
                <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1">Insight 2:</button>
              </h2>
              <p class="subsection__description">Providing travel history is difficult and anxiety-inducing beacuse users who travel a lot worry that forgetting to enter a trip will mean their application is rejected because they have not told the truth.</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
              <p>
                <strong class="phase-tag ur">User research</strong>
              </p>
              <h4 class="heading-small">UKVI services on GOV.UK</h4>
              <p>
                <span style="font-weight:700;">Researchers:</span> Clare Ridd and Joe Coker
                <br>
                <span style="font-weight:700;">Participants:</span> 12 interviews with visit visa holders
                <br>
                <span style="font-weight:700;">Date:</span> October 2017
              </p>
              <p> Users also became anxious because there is not enough space to enter in their full travel history so they have to choose which trips to include. They worry because they do not know which trips they should incude.
              <ul class="subsection__list">
                <li class="subsection__list-item">"Because I get so many visas…I have to dig up two passports, look through the stamps… that's really difficult…suddenly I'll be in the shower and I'll think 'oh my God what about that trip? I forgot that one.' [R6-P12]</li>
                <li class="subsection__list-item">"You'll have a random trip 5 years ago… it just slips your memory"; [R6-P12]</li>
                <li class="subsection__list-item">"I probably do 10 trips a year… they ask back 5/10 years…passport has changed…I have to dig up all the passports, look through the stamps"; "but the info isn't always in the passport… not all countries do it in the same way" [R6-P12]</li>
                <li class="subsection__list-item">"If there was a country where I had multiple trips per year, I only put in the first, then in notes section I said that"; [R6-P12]</li>
                <li class="subsection__list-item">"Details of all the countries that you have visited…that's a bit over the top"; [R6-P12]</li>
                <li class="subsection__list-item">"They need information on previous travels separated by commonwealth and non-Commonwealth countries"; [R6-P12]</li>
                <li class="subsection__list-item">"I'm not sure for the rationale for some questions… previous passports… details of the countries you've visited"; [R6-P12] </li>
                <li class="subsection__list-item">"So being from originally from Kazakhstan, and now living in Europe. This was not a simple process, there was a lot of travelling before this in my life. So I was pretty sure that I shouldn't put all the information there. I tried to put the most relevant or the latest ones and I just hoped it would be fine, it would be enough. But again in the application there was no guidance on how many trips I should put in or how much information should be there" [R6-P12]</li>
              </ul>
              <h3 class="heading-medium">Operational and Policy context:</h3>

              <!--Impact-->
              <h3 class="heading-medium">Impact:</h3>
              <!--On individuals-->
              <h4 class="heading-small">On individual users</h4>
              <!--On performance measures-->
              <h4 class="heading-small">On performance measures</h4>
              <!--Recommendations-->
              <h3 class="heading-medium">Recommendations:</h3>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  </div>



</body>
</main>

{% endblock %}
