{% extends "layout.html" %} {% block page_title %} Visit the UK - Research and insight {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumbs.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Visit the UK
      </h1>

    </div>
  </div>

  <!-- Start of main console -->
  <div class="grid-row console">

    <div class="column-quarter">

      <ul class="contents">
        <li>
          <a href="../index.html">Overview</a>
        </li>
        <li>
          <a href="../find-out.html">1. Find out</a>
        </li>
        <li class="active">
          <a href="../choose">2. Choose</a>
        </li>
        <li class="substage"><a href="../choose" class="subactive">Check what my visa options are</a></li>
        <li class="substage"><a href="../choose/find-most">Find the most suitable option for my situation</a></li>
        <li class="substage"><a href="../choose/prepare-for-application">Prepare for application</a></li>
        <li>
          <a href="../apply">3. Apply</a>
        </li>
        <li>
          <a href="../decide">4. Decide</a>
        </li>
        <li>
          <a href="../fulfil">5. Fulfil</a>
        </li>
        <li>
          <a href="../comply">6. Comply</a>
        </li>
        <li>
          <a href="../enforce">7. Enforce</a>
        </li>
      </ul>

    </div>

    <div class="column-three-quarter left-border">

      <h2 class="heading-large">Choose</h2>

      <h3 class="heading-medium"> User Needs</h3>
      <div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions">
        <div class="subsection-controls js-subsection-controls"></div>
        <div class="subsection-wrapper">
          <div class="js-subsection subsection">
            <div class="subsection__header">
              <p class="subsection__description">As a visitor I need to know the difference between visas so that I can make a choice when I have more than one option</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
              <h3 class="heading-medium">Evidence:</h3>
              <p>
                <strong class="phase-tag ur">User research</strong>
              </p>
              <h4 class="heading-small">UKVI services on GOV.UK</h4>
              <p>
                <span style="font-weight:700;">Researchers:</span> Clare Ridd and Joe Coker
                <br>
                <span style="font-weight:700;">Participants:</span> 12 interviews with visit visa holders
                <br>
                <span style="font-weight:700;">Date:</span> October 2017
                <p>Choosing a visa is easier when there is a close match between activity and type of visa. Someone coming to do a training course with their company got confused as to whether this was came under a business visit or a student visit:</p>
                <li class="list-bullet">"I was a little bit confused between a business visa and the visa given for student doing a short-term course".</li>
                <p>Another was not clear whether their business trip constituted work and they needed to go to the full effort of a work visa:</p>
                <li class="list-bullet">"there is another visa I think takes more time and effort to get…I needed something simpler because I was not going to work"</li>
                <p>Conversely, it is easier when close match between activity and type of visa. Well named visas help with this:</p>
                <li class="list-bullet">"The names of the choices, when you try they look a bit more convenient"</li>
                <p>Some users had read all the visas and chosen theirs by a process of elimination: </p>
                <li class="list-bullet">"It was not so quickly to know which visa I needed… finally I got standard visa"]; "I looked at all the other visas and I did not fall into any of the categories … in the end I followed by instincts and went for the tourist visa" [R6:P12]</li>
                <p>
                  <input class="button" type="submit" value="Transcripts">
            </div>
          </div>
          <div class="subsection js-subsection">
            <div class="subsection__header">
              <p class="subsection__description">As a visitor I need to know all the costs of the visa before applying so that I can plan how I will save the money</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
              <h3 class="heading-medium">Evidence:</h3>
              <p>
                <strong class="phase-tag ur">User research</strong>
              </p>
              <h4 class="heading-small">UKVI services on GOV.UK</h4>
              <p>
                <span style="font-weight:700;">Researchers:</span> Clare Ridd and Joe Coker
                <br>
                <span style="font-weight:700;">Participants:</span> 12 interviews with visit visa holders
                <br>
                <span style="font-weight:700;">Date:</span> October 2017
              <p>Users described instances of confusion and frustration when surprised with unexpected costs during the application process. Some of this frustration arose as users felt they understood what the cost of the visa would be and had saved accordingly. They had not accounted for this hidden cost in their plans and were only made aware of it once they had started the application</p>
              <ul class="list list-bullet">
                <li>"because there's an English test you have to do, sorry. So, I didn't let it cost money. That is not on the website. Or it might be there, but I didn't see it…, I was then told that I have to pay for the test, and it's close to £200, but I think £180 sounds like, oh my god, and I didn't know that I had to pay this much for the test (R6 -P11)</li>
                <li>"So, in planning, I was planning for the visa fee, I was planning for the medical fee, and I knew where to do the medical fee from (R6 - P11)</li>
                <li>"When we had doubts about a question or two we tried to call the support centre, the UK support centre or something like that, but it costs about £5 or something like that for questions to be answered (R6 - P7)</li>
              </ul>
              <p>For the hidden costs the user had to spend considerably more time investigating so they felt comfortable they knew what was expected of them</p>
              <ul class="subsection__list list-bullet">
                <li class="subsection__list-item">"	So, it took me about two hours to actually get all the information that I needed. Whereas, for the medical, it took me less than five minutes. (R6 - P11)</li>
              </ul>
              <input class="button" type="submit" value="Transcripts">
            </div>
          </div>
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <p class="subsection__description"> As a visitor I need to know if I am eligible for elctronic visa waiver</p>
                <span class="subsection__icon"></span>
              </div>
              <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
                <h3 class="heading-medium">Evidence:</h3>
                <p>
                  <strong class="phase-tag ur">User research</strong>
                </p>
                <h4 class="heading-small">Electronic Visa Waiver</h4>
                <p>
                  <span style="font-weight:700;">Researchers:</span> Caroline Trimm and Bernard Tryers
                  <br>
                  <span style="font-weight:700;">Participants:</span>
                  <br>
                  <span style="font-weight:700;">Date:</span>
              </div>
            </div>
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <p class="subsection__description">As a visitor I need to understand what information is necessary to apply for a electronic visa waiver</p>
                <span class="subsection__icon"></span>
              </div>
              <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
                <h3 class="heading-medium">Evidence:</h3>
                <p>
                  <strong class="phase-tag ur">User research</strong>
                </p>
                <h4 class="heading-small">Electronic Visa Waiver</h4>
                <p>
                  <span style="font-weight:700;">Researchers:</span> Caroline Trimm and Bernard Tryers
                  <br>
                  <span style="font-weight:700;">Participants:</span>
                  <br>
                  <span style="font-weight:700;">Date:</span>
              </div>
            </div>
              <div class="subsection js-subsection">
                <div class="subsection__header">
                  <p class="subsection__description">As a visitor I need to know what an electronic visa waiver entitles me to do </p>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
                  </p>
                  <h3 class="heading-medium">Evidence:</h3>
                  <p>
                    <strong class="phase-tag ur">User research</strong>
                  </p>


                  <h4 class="heading-small">Electronic Visa Waiver</h4>
                  <p>
                    <span style="font-weight:700;">Researchers:</span> Caroline Trimm and Bernard Tryers
                    <br>
                    <span style="font-weight:700;">Participants:</span>
                    <br>
                    <span style="font-weight:700;">Date:</span>
                  </p>
                </div>
              </div>
          </div>
        </div>



      <h3 class="heading-medium"> Research Insights</h3>

      <div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions">
        <div class="subsection-controls js-subsection-controls"></div>
        <div class="subsection-wrapper">
          <div class="js-subsection subsection">
            <div class="subsection__header">
              <!--Insight goes here-->
              <p class="subsection__description">Some users read all the visas options and choose theirs by process of elimiation. It was not immediately obvious which visa was right for their specific trip</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
              <h3 class="heading-medium">Evidence:</h3>
              <!--Methodology and details of user research-->
              <p>
                <strong class="phase-tag ur">User research</strong>
              </p>
              <h4 class="heading-small">UKVI services on GOV.UK</h4>
              <p>
                <span style="font-weight:700;">Researchers:</span> Clare Ridd and Joe Coker
                <br>
                <span style="font-weight:700;">Participants:</span> 12 interviews with visit visa holders
                <br>
                <span style="font-weight:700;">Date:</span> October 2017
              </p>
              <!--Enter evidence here-->
              <ul class="list list-bullet">
                <li>"It was not so quickly to know which visa I needed… finally I got standard visa"]; "I looked at all the other visas and I did not fall into any of the categories … in the end I followed by instincts and went for the tourist visa" [R6-P12]</li>
              </ul>
              <p>This lead to an inefficient, time-consuming process and reduced confidence in having made the right choice. There was a sense of users looking for the application that matched their circumstance and knowing it when they saw it.</p>
              <ul class="list list-bullet">
                <li>"There were many options but this was the only option that was relevant to me" [R6-P10</li>
                <li>"Once I saw the relevant application form it was more straightforward" [R6-P5].</li>
              </ul>



              <!--Link for sharepoint if transcripts or recordings-->
              <p>
                <a href="https://homeofficegovuk.sharepoint.com/:f:/s/DigitalServices/UKVIServices/EkKE9xrXJFlMgOuuL-SeOsEBGVVMiliydFWVsz8HOjIFLQ?e=2sNpnG"class="link">Transcripts</a>
              </p>

                <!--Context-->
              <h3 class="heading-medium">Operational and Policy context:</h3>

              <!--Impact-->
              <h3 class="heading-medium">Impact:</h3>
              <!--On individuals-->
              <h4 class="heading-small">On individual users</h4>
              <!--On performance measures-->
              <h4 class="heading-small">On performance measures</h4>
              <!--Recommendations-->
              <h3 class="heading-medium">Recommendations:</h3>

            </div>
          </div>
        </div>
      </div>
    </div>
    </div>




</main>

{% endblock %}
