{% extends "layout.html" %} {% block page_title %} Visit the UK - Research and insight {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}


<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %} {% include "includes/breadcrumbs.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Visit the UK
      </h1>

    </div>
  </div>

  <!-- Start of main console -->
  <div class="grid-row console">

    <div class="column-quarter">

      <ul class="contents">
        <li>
          <a href="../index.html">Overview</a>
        </li>
        <li>
          <a href="../find-out.html">1. Find out</a>
        </li>
        <li class="active">
          <a href="../choose">2. Choose</a>
        </li>
        <li class="substage"><a href="../choose">Check what my visa options are</a></li>
        <li class="substage"><a href="../choose/find-most">Find the most suitable option for my situation</a></li>
        <li class="substage"><a href="../choose/prepare-for-application" class="subactive">Prepare for application</a></li>
        <li>
          <a href="../apply">3. Apply</a>
        </li>
        <li>
          <a href="../decide">4. Decide</a>
        </li>
        <li>
          <a href="../fulfil">5. Fulfil</a>
        </li>
        <li>
          <a href="../comply">6. Comply</a>
        </li>
        <li>
          <a href="../enforce">7. Enforce</a>
        </li>
      </ul>

    </div>

    <div class="column-three-quarter left-border">

      <h2 class="heading-large">Choose</h2>

      <h3 class="heading-medium"> User Needs</h3>
      <div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions">
        <div class="subsection-controls js-subsection-controls"></div>
        <div class="subsection-wrapper">
          <div class="js-subsection subsection">
            <div class="subsection__header">
              <h2 class="subsection__title" id="understanding-agile-project-management">
                <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0"</button>
              </h2>
              <p class="subsection__description">know exactly what evidence to provide so that I feel confident I have supplied everything required for a successful application</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
              <ul class="subsection__list">
                <li class="subsection__list-item">Backup evidence 1</li>
                <li class="subsection__list-item">Backup evidence 2</li>
                <li class="subsection__list-item">Backup evidence 4</li>
                <li class="subsection__list-item">Backup evidence 5</li>
              </ul>
            </div>
          </div>
          <div class="subsection js-subsection">
            <div class="subsection__header">
              <h2 class="subsection__title" id="working-with-agile-methods">
                <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1"</button>
              </h2>
              <p class="subsection__description">know exactly what format to provide evidence so I am sure they will be accepted</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
              <ul class="subsection__list">
                <li class="subsection__list-item">Backup evidence 1</li>
                <li class="subsection__list-item">Backup evidence 2</li>
                <li class="subsection__list-item">Backup evidence 4</li>
                <li class="subsection__list-item">Backup evidence 5</li>
              </ul>
            </div>
          </div>
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="working-with-agile-methods">
                  <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1"</button>
                </h2>
                <p class="subsection__description">know how to acquire each piece of evidence so that I can gather sufficient to make a successful application</p>
                <span class="subsection__icon"></span>
              </div>
              <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
                <ul class="subsection__list">
                  <li class="subsection__list-item">Backup evidence 1</li>
                  <li class="subsection__list-item">Backup evidence 2</li>
                  <li class="subsection__list-item">Backup evidence 4</li>
                  <li class="subsection__list-item">Backup evidence 5</li>
                </ul>
              </div>
            </div>
            <div class="subsection js-subsection">
              <div class="subsection__header">
                <h2 class="subsection__title" id="working-with-agile-methods">
                  <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1"</button>
                </h2>
                <p class="subsection__description">know what evidence or information I need to gather from a third party organisation so that I can request this in adequate time for my application</p>
                <span class="subsection__icon"></span>
              </div>
              <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
                <ul class="subsection__list">
                  <li class="subsection__list-item">Backup evidence 1</li>
                  <li class="subsection__list-item">Backup evidence 2</li>
                  <li class="subsection__list-item">Backup evidence 4</li>
                  <li class="subsection__list-item">Backup evidence 5</li>
                </ul>
              </div>
              <div class="subsection js-subsection">
                <div class="subsection__header">
                  <h2 class="subsection__title" id="working-with-agile-methods">
                    <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_1"</button>
                  </h2>
                  <p class="subsection__description">know when in the application I will need to supply information from a third party so that I can decide when I need to request this information </p>
                  <span class="subsection__icon"></span>
                </div>
                <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_1">
                  <ul class="subsection__list">
                  </p>

                  <p>
                    <span style="font-weight:700">So that</span> I do not worry that I made an avoidable error in my application
                  </p>
                  <h3 class="heading-medium">Evidence:</h3>
                  <p>
                    <strong class="phase-tag ur">User research</strong>
                  </p>


                  <h4 class="heading-small">UKVI services on GOV.UK</h4>
                  <p>
                    <span style="font-weight:700;">Researchers:</span> Clare Ridd and Joe Coker
                    <br>
                    <span style="font-weight:700;">Participants:</span> 12 interviews with visit visa holders
                    <br>
                    <span style="font-weight:700;">Date:</span> October 2017
                  </p>

                  <p>
                    <span style="font-weight:700;">Users gave a strong sense that they were not always clear exactly what was needed when a question was asked during the application:</span>
                  </p>

                  <p> “what information you exactly need to put in" [P10]</p>

                  <p> "So I think the only thing I’d like to think about is have a help sheet like that, like a, guidance sheet so you know when the person is filling, okay for this. What is the answer? How do you fill this? This is how you fill this.” [P7] </p>

                  <p> “I would still say a filled example form on the website” [P9] </p>

                  <p> “But the second time it’s easy, it was just not very difficult because I have example on it” [P2] </p>

                  <p> “To be more precise, they asked me for the CAS number, C-A-S. I never met before that kind of requirement. It is a number, practically, that the university must give, that number. It is some kind of number that proves that you are unconditionally accepted on your study course, but, unfortunately, they did not provide me with that CAS number. That CAS number is, practically, for the Tier 4 Visa, and not for short-term student visitor visa, but I realised that later. In the first moment, when I applied for the visa, when I started to fill out these online forms, “Do you have CAS number?” “Uh-oh!” I asked my friend what to do now. He said, “Tell him the truth. Do you have it? No, you don’t. Tell him the truth,” and I said, “Yes.</p>

                  <input class="button" type="submit" value="Transcripts">

                  </ul>
                </div>
              </div>
          </div>
          <div class="js-subsection subsection">
            <div class="subsection__header">
              <h2 class="subsection__title" id="understanding-agile-project-management">
                <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0"</button>
              </h2>
              <p class="subsection__description">know all the steps involved in the visa application so that I can feel confident I have done everything I need to for a successful application</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
              <ul class="subsection__list">
                <li class="subsection__list-item">Backup evidence 1</li>
                <li class="subsection__list-item">Backup evidence 2</li>
                <li class="subsection__list-item">Backup evidence 4</li>
                <li class="subsection__list-item">Backup evidence 5</li>
              </ul>
            </div>
          </div>
          <div class="js-subsection subsection">
            <div class="subsection__header">
              <h2 class="subsection__title" id="understanding-agile-project-management">
                <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0"</button>
              </h2>
              <p class="subsection__description">Know which tasks I personally need to complete so that I don’t waste effort and money doing tasks that are not required </p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
              <ul class="subsection__list">
                <li class="subsection__list-item">Backup evidence 1</li>
                <li class="subsection__list-item">Backup evidence 2</li>
                <li class="subsection__list-item">Backup evidence 4</li>
                <li class="subsection__list-item">Backup evidence 5</li>
              </ul>
            </div>
          </div>
          <div class="js-subsection subsection">
            <div class="subsection__header">
              <h2 class="subsection__title" id="understanding-agile-project-management">
                <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0"</button>
              </h2>
              <p class="subsection__description">Know where to apply for an electronic visa waiver</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
              <ul class="subsection__list">
                <li class="subsection__list-item">Backup evidence 1</li>
                <li class="subsection__list-item">Backup evidence 2</li>
                <li class="subsection__list-item">Backup evidence 4</li>
                <li class="subsection__list-item">Backup evidence 5</li>
              </ul>
            </div>
          </div>
          <div class="js-subsection subsection">
            <div class="subsection__header">
              <h2 class="subsection__title" id="understanding-agile-project-management">
                <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0"</button>
              </h2>
              <p class="subsection__description">Know what the steps are involved completing an electronic visa  waiver application</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
              <ul class="subsection__list">
                <li class="subsection__list-item">Backup evidence 1</li>
                <li class="subsection__list-item">Backup evidence 2</li>
                <li class="subsection__list-item">Backup evidence 4</li>
                <li class="subsection__list-item">Backup evidence 5</li>
              </ul>
            </div>
          </div>
          <div class="js-subsection subsection">
            <div class="subsection__header">
              <h2 class="subsection__title" id="understanding-agile-project-management">
                <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0"</button>
              </h2>
              <p class="subsection__description">Know what information I will be required to provide during the application process so that I am not surprised by the effort required and can plan when I will fill out the application form</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
              <ul class="subsection__list">
                <li class="subsection__list-item">Backup evidence 1</li>
                <li class="subsection__list-item">Backup evidence 2</li>
                <li class="subsection__list-item">Backup evidence 4</li>
                <li class="subsection__list-item">Backup evidence 5</li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      <h3 class="heading-medium"> Research Insights</h3>

      <div class="js-accordion-with-descriptions" data-module="accordion-with-descriptions">
        <div class="subsection-controls js-subsection-controls"></div>
        <div class="subsection-wrapper">
          <div class="js-subsection subsection">
            <div class="subsection__header">
              <h2 class="subsection__title" id="understanding-agile-project-management">
                <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0">Insight 1:</button>
              </h2>
              <!--Insight goes here-->
              <p class="subsection__description">Many users stated that they had questions and concerns that they would like answered but found it difficult to get in contact with what they thought would be the relevant organisation</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
              <h3 class="heading-medium">Evidence:</h3>
              <!--Methodology and details of user research-->
              <p>
                <strong class="phase-tag ur">User research</strong>
              </p>
              <h4 class="heading-small">UKVI services on GOV.UK</h4>
              <p>
                <span style="font-weight:700;">Researchers:</span> Clare Ridd and Joe Coker
                <br>
                <span style="font-weight:700;">Participants:</span> 12 interviews with visit visa holders
                <br>
                <span style="font-weight:700;">Date:</span> October 2017
              </p>
              <!--Enter evidence here-->
              <p>Some tried to contact the VAC centres or UKVI by phone to get advice</p>
              <ul class="list list-bullet">
                <li>"I remember struggling to be able to get any, if I had any questions or any concerns, not being able to have anyone to get through to" (R6 - P10)</li>
                <li>"We try our best to contact Visa UK for some help, but it was impossible, when I visited the website" (R9 - P3)</li>
                <li>"UK visa application centre in my country in my city. They helped advise me to put as much as possible. But for that I needed to come there personally. They didn't have any mobile phone or email address. That was another point which was very painful for me during the application" (R6-12)</li>
                <li>"I think if there was a possibility of having a telephone helpline that is central that works, that would be really good" (R6 - P10)</li>
                <li>"Open only from this time to this time and then there's a time difference to make the call" (R6 - P7)</li>
              </ul>


              <!--Link for sharepoint if transcripts or recordings-->
              <p>
                <a href="https://homeofficegovuk.sharepoint.com/:f:/s/DigitalServices/UKVIServices/EnPwZERZ1h1IgRUiPHSOYo8BnorWN-pfDDe8QhzPvBTEig?e=7FI0Wl"class="link">Transcripts</a>
              </p>
                <!--Context-->
              <h3 class="heading-medium">Operational and Policy context:</h3>

              <!--Impact-->
              <h3 class="heading-medium">Impact:</h3>
              <!--On individuals-->
              <h4 class="heading-small">On individual users</h4>
              <!--On performance measures-->
              <h4 class="heading-small">On performance measures</h4>
              <!--Recommendations-->
              <h3 class="heading-medium">Recommendations:</h3>

            </div>
          </div>
        </div>
        <div class="subsection-wrapper">
          <div class="js-subsection subsection">
            <div class="subsection__header">
              <h2 class="subsection__title" id="understanding-agile-project-management">
                <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0">Insight 1:</button>
              </h2>
              <!--Insight goes here-->
              <p class="subsection__description">Users who managed to get in contact with UKVI by phone felt the call charges were excessive.</p>
              <span class="subsection__icon"></span>
            </div>
            <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
              <h3 class="heading-medium">Evidence:</h3>
              <!--Methodology and details of user research-->
              <p>
                <strong class="phase-tag ur">User research</strong>
              </p>
              <h4 class="heading-small">UKVI services on GOV.UK</h4>
              <p>
                <span style="font-weight:700;">Researchers:</span> Clare Ridd and Joe Coker
                <br>
                <span style="font-weight:700;">Participants:</span> 12 interviews with visit visa holders
                <br>
                <span style="font-weight:700;">Date:</span> October 2017
              </p>
              <!--Enter evidence here-->
              <ul class="list list-bullet">
                <li>"when we had doubts about a question or two we tried to call the support centre, the UK support centre or something like that, but it costs about £5 or something like that for questions to be answered. I don't think that is very…that's not the nicest thing" (R6 - P7)</li>
                <li>"also it's already an international call, and then spending £6 or £10 for a minute I don't think that's very fair… They either deducted £5 or something, but it's very expensive to do that. I think it should have a free help centre or something like that" (R6 - P7)</li>
              </ul>
              <p>While others were had been unable to reach anyone expressed they would be willing to pay extra to speak with someone</p>
              <ul class="list list-bullet">
                <li>"But even if there was a bit added to the fee just to be able to cover costs of people being able to make a phone call, or to be able to check on progress" (R6-P10)</li>
               </ul>


              <!--Link for sharepoint if transcripts or recordings-->
              <p>
                <a href="https://homeofficegovuk.sharepoint.com/:f:/s/DigitalServices/UKVIServices/EnPwZERZ1h1IgRUiPHSOYo8BnorWN-pfDDe8QhzPvBTEig?e=7FI0Wl"class="link">Transcripts</a>
              </p>
                <!--Context-->
              <h3 class="heading-medium">Operational and Policy context:</h3>

              <!--Impact-->
              <h3 class="heading-medium">Impact:</h3>
              <!--On individuals-->
              <h4 class="heading-small">On individual users</h4>
              <!--On performance measures-->
              <h4 class="heading-small">On performance measures</h4>
              <!--Recommendations-->
              <h3 class="heading-medium">Recommendations:</h3>

            </div>
          </div>
        </div>
        </div>
      </div>
    </div>

  </div>



</main>

{% endblock %}
