{% extends "layout.html" %} {% block page_title %} UKVI research and insight {% endblock %} {% block proposition_header %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block header_class %}
<!-- blank to remove the proposition header -->
{% endblock %} {% block content %}

<main id="content" role="main">
  {% include "includes/phase_banner_alpha.html" %}

  {% include "includes/breadcrumbs.html" %}

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-xlarge">
        Visit the UK
      </h1>

    </div>
  </div>

<!-- Start of main console -->
  <div class="grid-row console">

    <div class="column-quarter">

      <ul class="contents">
        <li>
          <a href="../index.html">Overview</a>
        </li>
        <li class="active">
          <a href="../find-out.html">1. Find out</a>
        </li>
        <li>
          <a href="../choose">2. Choose</a>
        </li>
        <li>
          <a href="../apply">3. Apply</a>
        </li>
        <li>
          <a href="../decide">4. Decide</a>
        </li>
        <li>
          <a href="../fulfil">5. Fulfil</a>
        </li>
        <li>
          <a href="../comply">6. Comply</a>
        </li>
        <li>
          <a href="../enforce">7. Enforce</a>
        </li>
      </ul>

    </div>

    <div class="column-three-quarter left-border">

      <h2 class="heading-large">Find out</h2>
      <p>Content</p>
    </div>

  </div>



</main>

{% endblock %}
