<div class="subsection-wrapper">
  <div class="js-subsection subsection">
    <div class="subsection__header">
      <h2 class="subsection__title" id="understanding-agile-project-management">
        <button class="subsection__button js-subsection-button" aria-expanded="false" aria-controls="subsection_content_0">Insight 1:</button>
      </h2>
      <!--Insight goes here-->
      <p class="subsection__description" style="color:purple"></p>
      <span class="subsection__icon"></span>
    </div>
    <div class="subsection__content js-subsection-content js-hidden" id="subsection_content_0">
      <h3 class="heading-medium">Evidence:</h3>
      <!--Methodology and details of user research-->
      <p>
        <strong class="phase-tag ur">User research</strong>
      </p>
      <h4 class="heading-small">UKVI services on GOV.UK</h4>
      <p>
        <span style="font-weight:700;">Researchers:</span> Clare Ridd and Joe Coker
        <br>
        <span style="font-weight:700;">Participants:</span> 12 interviews with visit visa holders
        <br>
        <span style="font-weight:700;">Date:</span> October 2017
      </p>
      <!--Enter evidence here-->


      <!--Link for sharepoint if transcripts or recordings-->
      <p>
        <a href="https://homeofficegovuk.sharepoint.com/:f:/s/DigitalServices/UKVIServices/EnPwZERZ1h1IgRUiPHSOYo8BnorWN-pfDDe8QhzPvBTEig?e=7FI0Wl"class="link">Transcripts</a>
      </p>

        <p style="margin-top:45px;">
          <!--Methodology and details of Customer insight-->
            <strong class="phase-tag ci">Customer insight</strong>
        </p>
      </p>
      <h4 class="heading-small">Customer Insight Survey</h4>
      <p>
        <span style="font-weight:700;">Researchers:</span> ---
        <br>
        <span style="font-weight:700;">Methodology:</span> Customer Satisfaction Survey completed by 39 users in 2017
        <br>
        <span style="font-weight:700;">Date:</span> January 2017 - December 2017
      </p>
      <!--Image from image folder-->
        <img src="/public/images/CI-identifyapplication.png" style="width:641px;">

        <!--Context-->
      <h3 class="heading-medium">Operational and Policy context:</h3>

      <!--Impact-->
      <h3 class="heading-medium">Impact:</h3>
      <!--On individuals-->
      <h4 class="heading-small">On individual users</h4>
      <!--On performance measures-->
      <h4 class="heading-small">On performance measures</h4>
      <!--Recommendations-->
      <h3 class="heading-medium">Recommendations:</h3>

    </div>
  </div>
</div>
